<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title><%= title %>></title>
  <meta name="description" content="Login page of Sherkat Pakhsh">
  <meta name="keywords" content="پخش مویرگی, پخش, توزیع, sherkat pakhsh">
  <meta name="author" content="َAkbar Mirzaei">
  <meta http-equiv="refresh" content="300">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="stylesheets/style.css">

</head>

<body>
	<body>
		<div class="container">
			<section id="content">
				<form action="">
					<h1>Login Form</h1>
					<div>
						<input type="text" placeholder="Username" required="" id="username" />
					</div>
					<div>
						<input type="password" placeholder="Password" required="" id="password" />
					</div>
					<div>
						<input type="submit" value="Log in" />
						<a href="#">Lost your password?</a>
						<a href="#">Register</a>
					</div>
				</form><!-- form -->
			</section><!-- content -->
		</div><!-- container -->	
	</body>
  

</body>
</html>
